* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-repeat: no-repeat;
    background-image: url(./img/grey-square-Fifty-Shades-of-Grey-pattern-1393665-wallhere.com.jpg);
    background-size: auto;
}


@media (max-width: 640px) {
    .img {
        width: 80%;
    }
}    

